a.link {
  &:hover{
    color: $color-purple;
  }
  &-underline{
    &:hover{
      text-decoration: underline;
    }
  }
  &-primary{
    color: $color-purple;
  }
  &-icon{
    i{
      line-height: 0;
      vertical-align: middle;
      margin-right: 10px;
    }
  }

}