a.link {
  transition: color 200ms;
  &:hover{
    color: $color-purple;
  }
  &-underline{
    &:hover{
      text-decoration: underline;
    }
  }
  &-primary{
    color: $color-purple;
  }
  &-icon{
    display: flex;
    align-items: center;
    i{
      line-height: 0;
      vertical-align: middle;
      margin-right: 10px;
    }
    &-revert {
      i{
        margin-left: 10px;
        margin-right: 0;
      }
    }
  }

}