.footer{
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: $s-spacing;
  padding-left: $s-spacing;
  box-shadow: $m-shadow;
  &-brand{
    height: 45px;
    img{
      height: 100%;
    }
  }
  &-item{
    &-link{
      color: $color-black;
    }
  }

}