@{
    ViewData["Title"] = "Create a poll";
    ViewData["HeaderTitle"] = "Create your own poll";
    ViewData["Subtitle"] = "Create a poll ";
    ViewData["SubmitValue"] = "Create the poll";
}
@using System.Linq
@model WisePoll.Services.ViewModels.CreatePollViewModel
<form asp-action="Create" class="form">
    <div asp-validation-summary="ModelOnly" class="text-warning"></div>
    <div class="form-group">
        <label asp-for="Title" class="form-label">Poll Title : </label>
        <span asp-validation-for="Title"></span>
        <input asp-for="Title" type="text" class="form-field">
    </div>
    <div class="form-group">
        <label asp-for="Text" class="form-label">Description : </label>
        <span asp-validation-for="Text"></span>
        <textarea class="form-field" asp-for="Text" id="description" cols="30" rows="10"></textarea>
    </div>

    <div class="form-group">
        <div class="form-indication">
            <div class="form-label">Choice(s) for this poll : </div>
            <div class="form-label-indication">Maximum <strong>5</strong> choices</div>
            <span asp-validation-for="PollFields"></span>
        </div>
        <div class="form-choices" data-max-choices="10">
            @if (Model != null && Model.PollFields.Any())
            {
                @foreach (var (m, i) in Model.PollFields.Take(5).Select((m, i) => (m, i)))
                {
                    <div id="choice@(i)" class="form-group form-group-icon">
                        <input name="PollFields" type="text" class="form-field" value="@m">
                        <a data-choice-id="choice@(i)" href="#" class="delete-choice" disabled>
                            <i class="icon-DeleteIcon"></i>
                        </a>
                    </div>
                }  
            }
            else
            {
                <div id="choice0" class="form-group form-group-icon">
                    <input name="PollFields" type="text" class="form-field">
                    <a data-choice-id="choice0" href="#" class="delete-choice" disabled>
                        <i class="icon-DeleteIcon"></i>
                    </a>
                </div> 
            }
            
        </div>
        <div class="add-more-choice">
            <a href="#" class="link link-icon add-more-choice-btn"><i class="icon-PlusIcon"></i>Add Choice</a>
        </div>
    </div>

    <div class="form-group">
        <div class="form-indication">
            <div class="form-label">Add participants : </div>
            <div class="form-label-indication">Fill the email of each participants. Separate each email with a space or comma.</div>
        </div>
        <span asp-validation-for="Members"></span>
        <input class="form-field taginput" asp-for="Members" type="text">
    </div>
    
    <div class="form-check">
        <input asp-for="Multiple" class="form-field">
        <label asp-for="Multiple" class="form-label form-label-check"></label>
    </div>
    <span asp-validation-for="Multiple"></span>

    <div class="btn-center">
        <input type="submit" class="btn btn-primary" value="@ViewData["SubmitValue"]">
    </div>

</form>