@{
    ViewData["Title"] = "Poll result";
    ViewData["HeaderTitle"] = "Poll result";
    ViewData["Subtitle"] = "Poll question ?";
    ViewData["Class"] = "result-poll";
}

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nibh ipsum consequat nisl vel pretium lectus. Nisi quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus. Facilisi cras fermentum odio eu feugiat. Tellus orci ac auctor augue mauris augue neque. Integer enim neque volutpat ac tincidunt vitae semper.
</p>

<div class="result-charts">
    <div class="result-charts-item" data-chart-bar data-total-votes="50">
        
        <div class="result-charts-group">
            <div class="result-charts-group-title">Lorem ipsum dolor de la answer ti koné</div>
            <div class="result-charts-bar" data-votes="35">
                <div class="result-charts-bar-vote">
                    <strong>35</strong> Votes
                </div>
            </div>

        </div>
        <div class="result-charts-group">
            <div class="result-charts-group-title">Lorem ipsum dolor de la answer un po plou lo adipiscing ti koné</div>
            <div class="result-charts-bar" data-votes="8">
                <div class="result-charts-bar-vote">
                    <strong>8</strong> Votes
                </div>
            </div>

        </div>
        <div class="result-charts-group">
            <div class="result-charts-group-title">Lorem ipsum dolor de la answer encore consecteur un po plou lo adipiscing ti koné</div>
            <div class="result-charts-bar" data-votes="2">
                <div class="result-charts-bar-vote">
                    <strong>2</strong> Votes
                </div>
            </div>
        </div>
        <div class="result-charts-group">
            <div class="result-charts-group-title">Lorem ipsum dolor adipiscing ti koné</div>
            <div class="result-charts-bar" data-votes="5">
                <div class="result-charts-bar-vote">
                    <strong>5</strong> Votes
                </div>
            </div>
        </div>
    </div>
</div>