@{
    ViewData["Title"] = "Success Create Poll";
    ViewData["HeaderTitle"] = "Congratulation !";
    ViewData["Subtitle"] = "You've created your poll";
    ViewData["Class"] = "SuccessPoll";
    
}
@section header {
    
}
<div class=header>
    <div class="container">
       <div class="header-titles">
           <div class="subtitle subtitle-primary">@ViewData["Subtitle"]</div>
           <h1>@ViewData["HeaderTitle"]</h1>
       </div> 
    </div>
</div>

<p class="text-center">
    Your poll has been successfully created. A mail has been sent to all the participants you added. You can copy the link below if you want to
    manually send the poll link to a participant.
</p>

<form class="row mt-5 linkPoll">
    <label>Poll sharing link</label>
    <input id="linkPoll" type="text" value="@ViewData["link"]" />
</form>

<div class="row mt-5">
<a class="link link-icon link-icon-revert" asp-area="" asp-controller="Home" asp-action="Index">Back to home <i class="icon-ChevronRight"></i></a>
</div>