@{
    ViewData["Title"] = "Vote Poll Page";
    ViewData["HeaderTitle"] = "Poll question";
    ViewData["Subtitle"] = "Vote in the poll";

}

<div id="PollVote">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore 
        magna aliqua. Nibh ipsum consequat nisl vel pretium lectus. Nisi quis eleifend quam adipiscing vitae proin 
        sagittis nisl rhoncus. Facilisi cras fermentum odio eu feugiat. Tellus orci ac auctor augue mauris augue neque. 
        Integer enim neque volutpat ac tincidunt vitae semper.
    </p>

    <form class='form' method="post">

        <div class="form-check">
            <input id="reponse1" value="reponse1" class="form-field" type="checkbox" name="reponse1" />
            <label for="reponse1" class="form-label form-label-check">Lorem ipsum dolor de la answer ti koné</label>
        </div>
        <div class="form-check">
            <input id="reponse2" value="reponse2" class="form-field" type="checkbox" name="reponse2" />
            <label for="reponse2" class="form-label form-label-check">Lorem ipsum dolor de la answer ti koné</label>
        </div>
        <div class="form-check">
            <input id="reponse3" value="reponse3" class="form-field" type="checkbox" name="reponse3" />
            <label for="reponse3" class="form-label form-label-check">Lorem ipsum dolor de la answer ti koné</label>
        </div>
        <div class="form-check">
            <input id="reponse4" value="reponse4" class="form-field" type="checkbox" name="reponse4" />
            <label for="reponse4" class="form-label form-label-check">Lorem ipsum dolor de la answer ti koné</label>
        </div>

        <div class="justify-content-center mt-4">
             <input type="submit" class="btn btn-primary" value="Vote">
        </div>
    </form>
</div>