@{
    ViewData["Title"] = "Vote Poll Page";
}

<div id="PollVote">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore 
        magna aliqua. Nibh ipsum consequat nisl vel pretium lectus. Nisi quis eleifend quam adipiscing vitae proin 
        sagittis nisl rhoncus. Facilisi cras fermentum odio eu feugiat. Tellus orci ac auctor augue mauris augue neque. 
        Integer enim neque volutpat ac tincidunt vitae semper.
    </p>

    <form class='form' method="post">

        <label class="row">
            <input name="reponse1" class="form-field" type="checkbox" name="StayLog" />
            Lorem ipsum dolor de la answer ti koné
        </label>


        <div class="text-center">
             <input type="submit" class="btn btn-primary" value="Vote">
        </div>
    </form>
</div>