@{
    ViewData["Title"] = "Vote Poll Page";
    ViewData["HeaderTitle"] = Model.Title;
    ViewData["Subtitle"] = "Vote in the poll";

}
@model WisePoll.Services.ViewModels.VotePollViewModel
<div id="PollVote">
    <p class="description">
        @Model.Text
    </p>

    <form class="form" method="post">
        
        @foreach (var m in Model.PollFields)
        {
            <div class="form-check">
                <input id="PollFields" class="form-field" type="@( Model.Multiple ? "checkbox" : "radio")" name="PollFields"/>
                <label for="PollFields" name="PollFields" class="form-label form-label-check">@m.Label</label>
            </div>
        }

        <div class="justify-content-center mt-4">
            <input type="submit" class="btn btn-primary" value="Vote">
        </div>
    </form>
</div>