::selection {
  color: $color-black;
  background: $color-yellow;
}

body{
  color: $color-black;
}

h1{
  font-size: $l-text-size;
  line-height: 57px;
  font-weight: 700;
  margin-bottom: $s-spacing;
}

h2{
  font-size: $m-text-size;
  font-weight: 600;
}

p{
  line-height: 19.5px;
}

section h1, section h2{
 text-align: center;  
}

.subtitle{
  font-size: $s-text-size;
  font-weight: 400;
  &-primary{
    color: $color-purple;
  }
}

a,input[type=submit],button{
  text-decoration: none;
  font-weight: 600;
  color: $color-black;
  &:hover{
    color: $color-purple;
    text-decoration: none;
  }
}

input[type=checkbox]{
  cursor: pointer;
}

input{
  &:focus-visible{
    outline-color: $color-purple;
  }
}

img{
  max-width: 100%;
}

section{
  margin-top: $l-spacing;
  margin-bottom: $l-spacing;
}