@{
    ViewData["Title"] = "Home Page";
    ViewData["HeaderTitle"] = "List of your polls";
    ViewData["Subtitle"] = "Your polls";
    ViewData["Class"] = "LoggedHome";
}

<div>
    <div class="poll-list-header">
        <div class="poll-list-header-count">You've created <strong>24</strong> polls</div>
        <a class="btn btn-primary btn-icon" asp-area="" asp-controller="Poll" asp-action="Create"><i class="icon-PlusIcon"></i>Create a poll</a>
    </div>

    <div class="poll-list-item">
        <div class="poll-list-item-infos">
            <a class="poll-list-item-infos-item poll-list-item-infos-title link">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
            <span class="poll-list-item-infos-item poll-list-item-infos-participants"><strong>24</strong> Participants</span>
        </div>
        <div class="poll-list-item-actions">
            <a class="poll-list-item-actions-link link">View</a>
            <a class="poll-list-item-actions-link btn btn-primary" asp-area="" asp-controller="Poll" asp-action="Delete">End the poll</a>
        </div>
    </div>
    
    <div class="poll-list-item">
        <div class="poll-list-item-infos">
            <a class="poll-list-item-infos-item poll-list-item-infos-title link">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
            <span class="poll-list-item-infos-item poll-list-item-infos-participants"><strong>24</strong> Participants</span>
        </div>
        <div class="poll-list-item-actions">
            <a class="poll-list-item-actions-link link">View</a>
            <a class="poll-list-item-actions-link btn btn-primary" asp-area="" asp-controller="Poll" asp-action="Delete">End the poll</a>
        </div>
    </div>
    
    <div class="poll-list-item">
        <div class="poll-list-item-infos">
            <a class="poll-list-item-infos-item poll-list-item-infos-title link">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
            <span class="poll-list-item-infos-item poll-list-item-infos-participants"><strong>24</strong> Participants</span>
        </div>
        <div class="poll-list-item-actions">
            <a class="poll-list-item-actions-link link">View</a>
            <a class="poll-list-item-actions-link btn btn-primary" asp-area="" asp-controller="Poll" asp-action="Delete">End the poll</a>
        </div>
    </div>
    
    <div class="poll-list-item">
        <div class="poll-list-item-infos">
            <a class="poll-list-item-infos-item poll-list-item-infos-title link">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
            <span class="poll-list-item-infos-item poll-list-item-infos-participants"><strong>24</strong> Participants</span>
        </div>
        <div class="poll-list-item-actions">
            <a class="poll-list-item-actions-link link">View</a>
            <a class="poll-list-item-actions-link btn btn-primary" asp-area="" asp-controller="Poll" asp-action="Delete">End the poll</a>
        </div>
    </div>
    
    <div class="poll-list-item">
        <div class="poll-list-item-infos">
            <a class="poll-list-item-infos-item poll-list-item-infos-title link">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
            <span class="poll-list-item-infos-item poll-list-item-infos-participants"><strong>24</strong> Participants</span>
        </div>
        <div class="poll-list-item-actions">
            <a class="poll-list-item-actions-link link">View</a>
            <a class="poll-list-item-actions-link btn btn-primary" asp-area="" asp-controller="Poll" asp-action="Delete">End the poll</a>
        </div>
    </div>
    
    <div class="poll-list-item">
        <div class="poll-list-item-infos">
            <a class="poll-list-item-infos-item poll-list-item-infos-title link">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
            <span class="poll-list-item-infos-item poll-list-item-infos-participants"><strong>24</strong> Participants</span>
        </div>
        <div class="poll-list-item-actions">
            <a class="poll-list-item-actions-link link">View</a>
            <a class="poll-list-item-actions-link btn btn-primary" asp-area="" asp-controller="Poll" asp-action="Delete">End the poll</a>
        </div>
    </div>
    
    
    <div class="pagination">
        <div class="active pagination-item pagination-item-left">
            <a class="pagination-item-link pagination-item-link-left" href="#"><i class="icon-ChevronLeft"></i></a>
        </div>
        <div class="pagination-container">
            <div class="active pagination-item">
                <a class="pagination-item-link active" active href="#">1</a>
            </div>
            <div class="pagination-item">
                <a class="pagination-item-link" href="#">2</a>
            </div>
            <div class="pagination-item">
                <a class="pagination-item-link" href="#">3</a>
            </div>
            <div class="pagination-item">
                <a class="pagination-item-link" href="#">4</a>
            </div>
            <div class="pagination-item">
                <a class="pagination-item-link" href="#">5</a>
            </div>
        </div>
        <div class="pagination-item pagination-item-right">
            <a class="pagination-item-link pagination-item-link-right" href="#"><i class="icon-ChevronRight"></i></a>
        </div>
    </div>
    
</div>