@{
    ViewData["Title"] = "Home Page";
    ViewData["HeaderTitle"] = "List of your polls";
    ViewData["Subtitle"] = "Your polls";
    ViewData["Class"] = "LoggedHome";
}

<div>
    <div class="row justify-content-between align-items-center mb-4 mb-3">
        <p class="col-auto my-3 my-md-0">You've created 24 polls</p>
        <a class="col-auto nav-navigation-item-link btn btn-primary my-2" asp-area="" asp-controller="Poll" asp-action="Create">Create a poll</a>
    </div>

    <form>
        
        <div class="row justify-content-between">
            <div class="col-lg-8 my-lg-0 mb-3">
                <div class="column1">
                    <a class="col-md-3">Poll title</a>
                    <span class="col-md-6">Poll question</span>
                    <span class="col-md-3">24 Participants</span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="column2"> 
                    <a class="nav-navigation-item-link">View</a>
                    <a class="col-auto nav-navigation-item-link btn btn-primary" asp-area="" asp-controller="Poll" asp-action="Delete">End the poll</a>
                </div>
            </div>
        </div>

        <div class="row justify-content-between">
            <div class="col-lg-8 my-lg-0 mb-3">
                <div class="column1">
                    <a class="col-md-3">Poll title</a>
                    <span class="col-md-6">Poll question</span>
                    <span class="col-md-3">24 Participants</span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="column2"> 
                    <a class="nav-navigation-item-link">View</a>
                    <a class="col-auto nav-navigation-item-link btn btn-primary" asp-area="" asp-controller="Poll" asp-action="Delete">End the poll</a>
                </div>
            </div>
        </div>

        <div class="row justify-content-between">
            <div class="col-lg-8 my-lg-0 mb-3">
                <div class="column1">
                    <a class="col-md-3">Poll title</a>
                    <span class="col-md-6">Poll question</span>
                    <span class="col-md-3">24 Participants</span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="column2"> 
                    <a class="nav-navigation-item-link">View</a>
                    <a class="col-auto nav-navigation-item-link btn btn-primary" asp-area="" asp-controller="Poll" asp-action="Delete">End the poll</a>
                </div>
            </div>
        </div>

        <div class="row justify-content-between">
            <div class="col-lg-8 my-lg-0 mb-3">
                <div class="column1">
                    <a class="col-md-3">Poll title</a>
                    <span class="col-md-6">Poll question</span>
                    <span class="col-md-3">24 Participants</span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="column2"> 
                    <a class="nav-navigation-item-link">View</a>
                    <a class="col-auto nav-navigation-item-link btn btn-primary" asp-area="" asp-controller="Poll" asp-action="Delete">End the poll</a>
                </div>
            </div>
        </div>

        <div class="row justify-content-between">
            <div class="col-lg-8 my-lg-0 mb-3">
                <div class="column1">
                    <a class="col-md-3">Poll title</a>
                    <span class="col-md-6">Poll question</span>
                    <span class="col-md-3">24 Participants</span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="column2"> 
                    <a class="nav-navigation-item-link">View</a>
                    <a class="col-auto nav-navigation-item-link btn btn-primary" asp-area="" asp-controller="Poll" asp-action="Delete">End the poll</a>
                </div>
            </div>
        </div>


        <ul id="pagination" class="row m-2">
            <li class="active">
                <a href="#">1</a>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li>
                <a href="#">4</a>
            </li>
            <li>
                <a href="#">5</a>
            </li>
        </ul>
    </form>

</div>