@{
    ViewData["Title"] = "Terms and Privacy Policy";
    ViewData["HeaderTitle"] = "Our Terms and Privacy Policy";
    ViewData["Subtitle"] = "Terms and Privacy Policy";
}

<p>Use this page to detail your site's privacy policy.</p>
