<footer class="footer">
    <div class="footer-brand">
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/media/WisePollLogo.svg" alt="WisePoll logo">
        </a>
    </div>
    <div class="footer-copyright">
        © 2021 - 2022 WisePoll.me - All Rights Reserved.
    </div>
    <div class="footer-item">
        <a class="footer-item-link" asp-area="" asp-controller="Home" asp-action="Privacy">Terms and Privacy</a>
    </div>
</footer>