@{
    ViewData["hide-header"] = false;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WisePoll</title>
    <link rel="stylesheet" href="~/lib/tagify/css/tagify.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <script> </script>
</head>
<body class="@ViewData["Class"]">
    
            <partial name="_navigation"/>


@if (IsSectionDefined("header"))
{
    @RenderSection("header")
}
else
{
    <partial name="_header"/>
}

<div class="container">
    <main role="main">
        @RenderBody()
    </main>
</div>


<partial name="_footer"/>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/tagify/js/tagify.min.js"></script>
<script src="~/lib/tagify/js/tagify.polyfills.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/choices.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
