<nav class="nav">
    <div class="nav-brand">
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/media/WisePollLogo.svg" alt="WisePoll logo">
        </a>
    </div>
    <div class="nav-navigation">
        
        <div class="nav-navigation-item">
            <a class="nav-navigation-item-link btn btn-primary btn-icon" asp-area="" asp-controller="Poll" asp-action="Create"><i class="icon-PlusIcon"></i>Create a poll</a>
        </div>
        <div class="nav-navigation-item">
            <a class="nav-navigation-item-link " asp-area="" asp-controller="Auth" asp-action="Logout">Log Out</a>
        </div>
    </div>
</nav>
<div class="nav-mobile">
    <div class="nav-mobile-navigation-item">
        <a class="nav-mobile-navigation-item-link" asp-area="" asp-controller="Home" asp-action="Index">
            <i class="icon-home"></i>
            <span>Home</span>
        </a>
    </div>
    <div class="nav-mobile-navigation-item">
        <a class="nav-mobile-navigation-item-link btn btn-primary" asp-area="" asp-controller="Poll" asp-action="Create">
            <i class="icon-PlusIcon"></i>
        </a>
    </div>
    <div class="nav-mobile-navigation-item">
        <a class="nav-mobile-navigation-item-link" asp-area="" asp-controller="Auth" asp-action="Logout">
            <i class="icon-exit"></i>
            <span>Log Out</span>
        </a>
    </div>
</div>