<nav class="nav">
    <div class="nav-brand">
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/media/WisePollLogo.svg" alt="WisePoll logo">
        </a>
    </div>
    <div class="nav-navigation">
        <div class="nav-navigation-item">
            <a class="nav-navigation-item-link link link-icon" asp-area="" asp-controller="Home" asp-action="Index"><i class="icon-PlusIcon"></i>Create a poll</a>
        </div>
        <div class="nav-navigation-item">
            <a class="nav-navigation-item-link" asp-area="" asp-controller="Auth" asp-action="Login">Log In</a>
        </div>
        <div class="nav-navigation-item">
            <a class="nav-navigation-item-link btn btn-primary" asp-area="" asp-controller="Auth" asp-action="Register">Register</a>
        </div>
    </div>
</nav>