@{
    ViewData["Title"] = "Login Page";
    Layout = "_Layout-Vide";
}

<div id="login" class="container">
    <div class="logo">
        <img src="~/media/WisePollLogo.svg"/>
    </div>

    <img class="img-decoration" src="~/media/WisePuddle.svg" />
    <img class="img-decoration" src="~/media/WisePuddle.svg" />

    <div class="wrapper">
        <div class="form">
            <form>
                <div>
                    <label>E-mail :</label>
                    <input type="text" name="login" placeholder="login">
                </div>

                <div>
                    <div class="row">
                        <label class="col-md-6">Password :</label>
                        <a class="col-md-6" href="#">Forgot password ?</a>
                    </div>
                    <input type="text" name="password" placeholder="password">
                </div>
                

                <div>
                    <label>
                        <input type="checkbox" name="StayLog" />
                        <span></span>
                        <p>Stay Logged In</p>
                    </label>
                </div>

                <div class="row">
                    <input type="submit" class="btn btn-primary col-md-6" value="Log In">
                    <a  class="col-md-6" href="#">Back to home <img src="/media/ChevronRight.svg" /></a>
                </div>
            </form>

            <p class="text-center"><a href="#">Register now</a></p>
        </div>
    </div>
</div>
