@model WisePoll.Services.ViewModels.AuthRegisterViewModel

@{
    ViewData["Title"] = "Login Page";
    ViewData["Class"] = "auth";
    ViewData["SubmitValue"] = "Create account";
    ViewData["asp-actionForm"] = "Register";
    Layout = "_Layout-Auth";
}

    <div class="form-group">
        <label class="form-label" asp-for="Email">E-mail :</label>
        <input class="form-field" id="email" type="text" asp-for="Email" placeholder="Email">
        <span asp-validation-for="Email" data-valmsg-for="Email" data-valmsg-replace="true"></span>
    </div>

    <div class="form-group">
        <label class="form-label" asp-for="Pseudo">Pseudo</label>
        <input class="form-field" id="Pseudo" type="text" asp-for="Pseudo" placeholder="Pseudo">
        <span asp-validation-for="Pseudo" data-valmsg-for="Pseudo" data-valmsg-replace="true"></span>
    </div>

    <div class="form-group">
        <label class="form-label" asp-for="Password">Password :</label>
        <input class="form-field" id="password" type="text" asp-for="Password" placeholder="Password">
        <span asp-validation-for="Password" data-valmsg-for="Password" data-valmsg-replace="true"></span>
    </div>

    <div class="form-group">
        <label class="form-label" asp-for="ConfirmPassword">Confirm Password :</label>
        <input class="form-field" type="text" id="ConfirmPassword" asp-for="ConfirmPassword" placeholder="Confirm Password">
        <span asp-validation-for="ConfirmPassword" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"></span>
    </div>

    @section RedirectButton{
        <div class="register-now-link"> <a class="link link-primary link-underline" asp-area="" asp-controller="Auth" asp-action="Login">Already Registered ? Log In</a></div>
    }
