/* Colors */
$color-yellow: #FFBF4C;
$color-rose: #F14460;
$color-purple: #79018C;
$color-black: black;
$color-clear-grey: #F4F4F4;

/* Text sizing */
$base-text-size: 1rem;
$l-text-size: 3rem;
$m-text-size: 1.875rem;
$s-text-size: 1.5rem;

/* Spacing */
$l-spacing: 4.375rem;
$m-spacing: 3.125rem;
$s-spacing: 1.875rem;
$base-spacing: 1rem;

/* Shadow */
$s-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.25);
$m-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.25);
$inner-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
