.auth {
    padding-bottom: 0;
    main {
        margin: 0;
        height: calc(100vh - 75px);
        @include media-breakpoint-up(sm) {
            height: auto;
        }
    }
    .nav{
        background-color: transparent;
        display: flex;
    }
    @include media-breakpoint-up(sm) {
        height: 100vh;
        overflow: hidden;
    }
    .wisepuddle{
        &-right{
            width: 410px;
            height: 410px;
        }
        &-bottom-left{
            width: 230px;
            height: 230px;
        }
    }

    .auth-form {
        padding: $base-spacing;
        width: 100%;
        max-width: 610px;
        border-radius: $base-radius;
        overflow: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100%;
        @include media-breakpoint-up(sm) {
            max-height: 100%;
            padding: $m-spacing;
            box-shadow: $m-shadow;
            background-color: $color-white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            display: block;
            min-height: auto;
        }
        &-submit{
            margin-top: $m-spacing;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .link{
                &-icon{
                    margin-top: $base-spacing;
                }
            }
            
            @include media-breakpoint-up(sm) { 
                flex-direction: row;
                justify-content: space-between;
                .link{
                    &-icon{
                        margin-top: 0;
                    }
                }
            }
        }
        .register-now-link {
            margin-top: $s-spacing;
            text-align: center;
        }
    }
}
