.home{
  .header{
    overflow: hidden;
    z-index: 1;
    padding-top: $xl-spacing;
    padding-bottom: $xl-spacing;
    position: relative;
    background-color: lighten($color-purple,70%);
    height: calc(100vh - 75px);
    .btn{
      margin-top:0;
    }
    @include media-breakpoint-up(sm) {
      height: auto;
    }
    .container{
      display: flex; 
      flex-direction: column; 
      justify-content: center; 
      height: 100%;
      @include media-breakpoint-up(sm) {
        display: block;
        height: auto;
      }
    }
    .wisepuddle{
      display: block;
      &-right{
        width: 200px;
        height: 200px;
        @include media-breakpoint-up(sm) {
          width: 410px;
          height: 80%;
        }
      }
      &-bottom-left{
        width: 100px;
        height: 100px;
        @include media-breakpoint-up(sm) {
          width: 230px;
          height: 45%;
        }
      }
    }
  }
  .card{
    margin-top: $m-spacing;
    @include media-breakpoint-up(md) {
      &-down{
        margin-top: $l-spacing;
      }
    }
  }
  .lets-start-btn{
    text-align: center;
    margin-top: $l-spacing;
    .btn{
      margin-top:0;
    }
  }
}


.LoggedHome {
    .btn-primary {
        width: fit-content;
    }

    form > div {
        align-items: center;
        padding: $base-spacing;
        margin: $base-spacing 0;
        border: 1px solid $color-clear-grey;
        box-shadow: $base-shadow;
        width: 100%;
    }

    .column1 {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 992px) {

            span {
                &:nth-child(2) {
                    display: none;
                }
            }
        }
    }

    .column2 {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        a:first-child {
            margin-right: $base-spacing;
        }
    }
}

#pagination {
    justify-content: center;

    & > li {
        margin: $base-spacing;
        height: 50px;
        width: 50px;
        background-color: $color-yellow;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.5;

        @media (max-width: 992px) {

            &:nth-child(4), &:nth-child(5) {
                display: none;
            }
        }

        &.active {
            opacity: 1;
        }
    }
}