#PollVote {
    .form {
        div {
            display: flex;
            align-items: center;
        }

        form-field[type=checkbox] {
            width: 40px;
            height: 40px;
            box-shadow: $base-shadow;
        }
    }
}

.SuccessPoll {
    .row {
        align-items: center;
        justify-content: center;

        &.linkPoll {
            flex-direction: column;
            input {
                max-width: 800px;
                width: 80%;
                padding: 1rem;
                border: 1px solid $color-clear-grey;
                box-shadow: $base-shadow;
                box-sizing: border-box;
            }

            label {
                margin: $base-spacing;
            }
        }
    }
}